<div>
    <h2 id="page-heading">
        <span>Recipes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-recipe" [routerLink]="['/recipe/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Recipe
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="recipes?.length === 0">
        <span>No recipes found</span>
    </div>
    <div class="table-responsive" *ngIf="recipes?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Image</span></th>
            <th><span>Desciption</span></th>
            <th><span>Details</span></th>
            <th><span>Author</span></th>
            <th><span>View Number</span></th>
            <th><span>Upload Date</span></th>
            <th><span>Enable Status</span></th>
            <th><span>Customer</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let recipe of recipes ;trackBy: trackId">
                <td><a [routerLink]="['/recipe', recipe.id, 'view' ]">{{recipe.id}}</a></td>
                <td>{{recipe.name}}</td>
                <td>{{recipe.image}}</td>
                <td>{{recipe.desciption}}</td>
                <td>{{recipe.details}}</td>
                <td>{{recipe.author}}</td>
                <td>{{recipe.viewNumber}}</td>
                <td>{{recipe.uploadDate | date:'mediumDate'}}</td>
                <td>{{recipe.enableStatus}}</td>
                <td>
                    <div *ngIf="recipe.customer">
                        <a [routerLink]="['../customer', recipe.customer?.id, 'view' ]" >{{recipe.customer?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/recipe', recipe.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/recipe', recipe.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'recipe', { outlets: { popup: recipe.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
