<div>
    <h2 id="page-heading">
        <span>Prize Histories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-prize-history" [routerLink]="['/prize-history/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Prize History
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="prizeHistories?.length === 0">
        <span>No prizeHistories found</span>
    </div>
    <div class="table-responsive" *ngIf="prizeHistories?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Enable Status</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let prizeHistory of prizeHistories ;trackBy: trackId">
                <td><a [routerLink]="['/prize-history', prizeHistory.id, 'view' ]">{{prizeHistory.id}}</a></td>
                <td>{{prizeHistory.enableStatus}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/prize-history', prizeHistory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/prize-history', prizeHistory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'prize-history', { outlets: { popup: prizeHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
