<div>
    <h2 id="page-heading">
        <span>Online Orders</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-online-order" [routerLink]="['/online-order/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Online Order
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="onlineOrders?.length === 0">
        <span>No onlineOrders found</span>
    </div>
    <div class="table-responsive" *ngIf="onlineOrders?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Email</span></th>
            <th><span>Contact</span></th>
            <th><span>Address</span></th>
            <th><span>Book Cost</span></th>
            <th><span>Paying Option</span></th>
            <th><span>Order Date</span></th>
            <th><span>Status</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let onlineOrder of onlineOrders ;trackBy: trackId">
                <td><a [routerLink]="['/online-order', onlineOrder.id, 'view' ]">{{onlineOrder.id}}</a></td>
                <td>{{onlineOrder.name}}</td>
                <td>{{onlineOrder.email}}</td>
                <td>{{onlineOrder.contact}}</td>
                <td>{{onlineOrder.address}}</td>
                <td>{{onlineOrder.bookCost}}</td>
                <td>{{onlineOrder.payingOption}}</td>
                <td>{{onlineOrder.orderDate | date:'mediumDate'}}</td>
                <td>{{onlineOrder.status}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/online-order', onlineOrder.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/online-order', onlineOrder.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'online-order', { outlets: { popup: onlineOrder.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
